.jogo {
  border: 1px solid #ffffff44;
  border-radius: 12px;
  margin: 24px;
  padding: 24px;
  display: inline-flex;
  width: 256px;
  height: 256px;
}

.jogo img {
  display: block;
  margin: auto;
  max-width: 96px;
  max-height: 96px;
}

.jogo span {
  text-align: center;
  display: block;
  margin: auto;
}
