@charset "UTF-8";

.linguagem-de-programacao {
  border: 1px solid #00000044;
  border-radius: 12px;
  text-align: center;
  display: block;
  height: 256px;
  width: 256px;
}

.linguagem-de-programacao img {
  max-width: 64px;
  max-height: 64px;
}

ul {
  list-style-type: none;
  display: block;
  margin: auto;
  margin-top: 16px;
}

li {
  display: inline-block;
  margin: 16px;
}
